@media (max-width: 1100px) {
  .about-wrap {
    padding-right: 0;
  }
  .about-course-wrap {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .invate {
    max-width: 750px;
  }

  .invate h2 {
    align-items: center;
    text-align: center;
  }

  .course-info {
    padding: 40px 60px 40px 60px;
  }
}

@media (max-width: 990px) {
  .about-wrap {
    flex-direction: column-reverse;
    gap: 50px;
    justify-content: center;
  }
  .info {
    justify-content: center;
    align-items: center;
  }
  .info p {
    text-align: center;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .contact {
    width: 60%;
  }

  .menu ul {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }
  .menu {
    display: none;
  }
  .menu.open {
    display: flex;
    position: absolute;
    top: 95px;
    background-color: #e3d2b8;
    padding: 30px;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu-item a {
    width: 100%;
    display: inline-block;
  }
}

@media (max-width: 650px) {
.course-info {
  width: 100%;
  padding: 35px 0px 35px 0px;
  text-align: center;
  font-size: 1.4rem;
}
.buy-btn {
  padding: 10px 20px;
  font-size: 22px;
}
.info p:last-child {
  font-size: 17px;
  padding: 20px 10px 20px 10px;
}
.thema-items {
  grid-template-columns: 1fr;
}
.format-item .h-3 {
  font-size: 23px;
  text-align: center;
}
.course-name {
  font-size: 26px;
}
.author-name {
  font-size: 24px;
}
.invate-text {
  font-size: 21px;
}
.about-course-wrap {
  padding: 50px 30px;
  gap: 35px;
}
.invate h2 {
  gap: 30px;
}
.about-course-wrap {
  gap:25px
}
}

@media (max-width: 510px) {
  .h-2 {
    font-size: 28px;
  }
  .contact {
    width: 95%;
    gap: 20px;
    padding: 10px;
  }

  .fio {
    font-size: 34px;
    line-height: 40px;
  }

  .info p,
  .link-material a {
    font-size: 18px;
  }

  .photo-material {
    max-width: 300px;
  }

  .material-desc {
    max-width: 300px;
    padding: 10px 10px;
    height: 250px;
  }

  .material-name {
    font-size: 19px;
  }

  .material-desc-items {
    gap: 12px;
  }


  .author {
    width: 250px;
    height: 250px;
  }

  .materials {
    row-gap: 250px;
  }

  .swiper-slide img {
    max-width: 300px;
  }
  .container {
    padding: 0 10px;
  }
  .about {
    padding: 40px 0px 35px 0px;
  }
  .about-wrap {
    gap: 30px;
  }
  .info {
    gap: 30px;
  }

  .author-material {
    padding: 50px 0px 250px 0px;
  }

  .material-wrap {
    gap: 30px;
  }
  .review {
    padding: 50px 0px 50px 0px;
  }

  .review-wrap .h-2 {
    margin-bottom: -40px;
  }
  .info p:last-child {
    margin-top: 30px;
  }
  .for-whom-item {
    font-size: 18px;
    background-size: 40px;
    background-position: left -7px;
    padding-left: 45px;
    line-height: 24px;
}
  .for-whom-wrap {
    gap: 30px;
  }
  .highlight {
    bottom: calc(-35% - 90px);
}
  .for-whom {
    padding-top: 60px;
  }
  .highlight h3 {
    font-size: 22px;
  }
  .highlight li {
    font-size: 17px;
}
.programm {
  padding-top: 290px;
  padding-bottom: 60px;
}
.programm-wrap {
  gap:35px
}
.thema-items {
  grid-row-gap: 30px;
}
.format-item {
  padding: 30px 25px;
}
.format-list li {
  font-size: 18px;
  line-height: 20px;
  background-size: 35px;
  background-position: left -8px;
  padding-left: 40px;
}
.price {
  font-size: 22px;
}
.faq {
  padding: 50px 0;
}
.buy-btn {
  font-size: 20px;
}

}

@media (max-width: 450px) {
  .about .container {
    padding: 0 5px;
  }
  .right-attach, .left-attach {
    top: -45px;
    width: 45px;
}
.right-attach {
  right: 0px;
  transform: rotate(75deg);
}
.left-attach {
  left: 0px;
  transform: rotate(15deg);
}
.about-course {
  padding-bottom: 70px;
  padding-top: 30px;
}
.about-course-wrap {
  padding: 30px 15px;
}
.author-name {
  font-size: 22px;
}
.course-name {
  font-size: 22px;
}
.invate h2 {
  gap: 20px;
}
.invate-text {
  font-size: 18px;
}
.invate {
  gap: 15px;
}
.course-info {
  padding: 25px 0px 25px 0px;
  font-size: 1.2rem;
  gap: 25px;
}
.course-items {
  gap: 20px;
}
.highlight {
  gap: 15px;
  padding: 20px 15px 20px 25px;
}
.highlight img {
  width: 70px;
  top: -50px;
}
.highlight li {
  font-size: 16px;
}
.highlight {
  bottom: calc(-30% - 90px);
}
.learn {
  padding: 60px 0;
}
.learn-item img {
  max-width: 50px;
  margin-bottom: 10px;
}
.accordion button .accordion-title {
  font-size: 18px;
}
.accordion .accordion-content p {
  font-size: 1.1rem;
}
.info p:last-child {
  font-size: 15px;
  line-height: 18px;
}
}

@media (max-width: 385px) {
  .about-course-wrap {
    padding: 20px 10px;
    border-radius: 20px
   
}
.author-name {
  font-size: 18px;
}
.info p:last-child {
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
}
.course-name {
  font-size: 18px;
}
.invate-text {
  font-size: 17px;
}
.course-items {
  gap: 15px;
}
.buy-btn {
  font-size: 18px;
}
.for-whom-item {
  font-size: 16px;
  background-size: 30px;
  background-position: left -3px;
  padding-left: 35px;
  line-height: 22px;
}
.for-whom-wrap {
  gap: 20px;
}
.for-whom-items {
  gap: 15px;
}
.for-whom {
  padding-top: 40px;
}
.h-2 {
  font-size: 24px;
  line-height: 30px;
}
.highlight h3 {
  font-size: 18px;
}
.highlight li {
  font-size: 16px;
  line-height: 18px;
}
.programm-head p {
  font-size: 17px;
}
.programm-head {
  gap: 25px;
}
.programm-wrap {
  gap: 25px;
}
.thema-item h4 {
  font-size: 17px;
}
.thema-desc li {
  font-size: 16px;
}
.thema-items {
  grid-row-gap: 20px;
}
.learn-wrap {
  gap: 30px;
}
.learn {
  padding: 40px 0;
}
.learn-item p {
  font-size: 16px;
}
.format-wrap {
  gap: 30px;
}
.format-item .h-3 {
  font-size: 18px;
  text-align: center;
}
.format-item {
  padding: 20px 15px;
  border-radius: 20px;
  gap: 20px;
}
.format-list li {
  font-size: 17px;
  line-height: 19px;
  background-size: 30px;
  background-position: left -5px;
  padding-left: 35px;
}
.price {
  font-size: 20px;
}
.limited {
  font-size: 15px;
}
.faq {
  padding: 20px 0;
}
.faq-wrap {
  gap: 20px;
}
.accordion button .accordion-title {
  font-size: 17px;
}
.material-desc {
  height: 220px;
  gap: 10px;
}
.materials {
  row-gap: 220px;
}
.material-name {
  font-size: 18px;
  min-height: 90px;
}
.author-material {
  padding: 50px 0px 200px 0px;
}
.photo-material {
  height: 200px;
}
.swiper-button-next, .swiper-button-prev {
  top: calc(80% + 30px);
  width: 52px;
  height: 52px;

}
.review {
  padding: 50px 0px 20px 0px;
}
}