body {
  font-family: "Arimo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

@font-face {
  src: url("../assets/fonts/Alta_regular.otf");
  font-family: "Alta";
}

@font-face {
  src: url("../assets/fonts/Arimo-Bold.ttf");
  font-family: "Arimo Bold";
}

@font-face {
  src: url("../assets/fonts/Arimo-Medium.ttf");
  font-family: "Arimo Medium";
}
@font-face {
  src: url("../assets/fonts/Arimo-Regular.ttf");
  font-family: "Arimo";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #e3d2b8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  font-family: "Alta";
  font-size: 32px;
  background-color: #fff;
  padding: 0px 5px 0 5px;
  border-radius: 3px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu-item {
  background-color: #fff;
  padding: 0px 5px 0 5px;
  border-radius: 3px;
}

.menu-item a {
  font-size: 20px;
  line-height: 30px;
  font-family: "Arimo Medium";
  transition: 0.2s;
  padding-bottom: 1px;
}

.menu-item a:hover {
  border-bottom: 1px solid #333;
}

.about {
  padding: 100px 0px 70px 0px;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 595px;
}

.fio {
  font-family: "Arimo Bold";
  font-style: normal;
  font-size: 44px;
  line-height: 60px;
  color: #161109;
}

.info p {
  font-family: "Arimo";
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  color: #161109;
}

.author {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: url(../assets/images/autor.jpg);
  background-position: 85%;
  background-size: 130%;
  box-shadow: -8px 9px 12px 0px #7f7f7f;
}

.links-material {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-material {
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  border: 3px solid #ad865d;
  transition: 0.5s;
}

.link-material a {
  padding: 13px 20px;
  color: #ad865d;
  font-family: "Arimo Medium";
  font-size: 22px;
  line-height: 26px;
}

.link-material:hover {
  box-shadow: 0px 1px 12px 0px #454545;
}

.link-material:hover a {
}

.author-material {
  padding: 100px 0px 450px 0px;
  background-color: #e3d2b8;
}

.material-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.materials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 440px;
  justify-content: space-evenly;
}

.material {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.material:hover {
  transition: 0.2s;
  transform: scale(1.01);
}

.photo-material {
  max-width: 360px;
}

.material-desc {
  max-width: 360px;
  position: absolute;
  right: 0px;
  background-color: white;
  padding: 15px 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: calc(90% - 15px);
  height: 450px;
}

.material-desc-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.h-2 {
  font-family: "Arimo Bold";
  font-style: normal;

  font-size: 38px;
  line-height: 44px;

  color: #161109;
}

.material-name {
  font-size: 22px;
  font-family: "Arimo Bold";
}

.desc-items {
  font-size: 18px;
}

.buy-btn {
  padding: 15px 10px;
  font-size: 20px;
  margin-top: auto;
  display: inline;
  font-family: "Arimo Bold";
  font-size: 24px;
  cursor: pointer;
}

.review {
  padding: 100px 0px 50px 0px;
  background-image: linear-gradient(#e3d2b8 5%, #ffffff 30%);
}

.swiper {
  width: 100%;
  height: 520px;
}

.review-container {
  max-width: 1440px;
}

.swiper-slide img {
  max-width: 350px;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.8;
  transition: 0.2s;
}

.swiper-slide:hover {
  opacity: 1;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-wrap {
  text-align: center;
}

.review-wrap .h-2 {
  margin-bottom: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ad865d;
  top: calc(85% + 30px);
  border-radius: 3px;
  width: 58px;
  height: 58px;
  background-color: #ffffff;
  border: 2px solid #ad865d;
  transition: 0.2s;
}

.swiper-button-next {
  right: calc(50% - 85px);
}

.swiper-button-prev {
  left: calc(50% - 85px);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #ad865d;
  color: #fff;
}

.footer {
  padding: 60px 0 60px 0;
  background-color: #e3d2b8;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contact {
  width: 30%;
  padding: 30px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  border-radius: 3px;
}

.inst,
.mail {
  font-size: 24px;
}

.ip-text {
  line-height: 1.3;
}
